<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby Calculator</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Baby Calculator <span class="version-text">v1.3</span></h1>
        <form id="datetime-form">
            <label for="datetime">Datum i vrijeme rođenja:</label>
            <input type="datetime-local" id="datetime" name="datetime" required>
            <button type="submit">Izračunaj razliku</button>
        </form>
        <div id="result"></div>
    </div>

    <script>
        function setCookie(name, value, days) {
            const d = new Date();
            d.setTime(d.getTime() + (days * 24 * 60 * 60 * 1000));
            const expires = "expires=" + d.toUTCString();
            document.cookie = name + "=" + value + ";" + expires + ";path=/";
        }

        function getCookie(name) {
            const cname = name + "=";
            const decodedCookie = decodeURIComponent(document.cookie);
            const ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) === ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(cname) === 0) {
                    return c.substring(cname.length, c.length);
                }
            }
            return "";
        }

        $(document).ready(function() {
            const savedDateTime = getCookie('datetime');
            if (savedDateTime) {
                $('#datetime').val(savedDateTime);
            }

            $('#datetime-form').on('submit', function(event) {
                event.preventDefault();
                
                const datetime = $('#datetime').val();
                setCookie('datetime', datetime, 30);

                $.ajax({
                    url: '/calculate',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        $('#result').html(
                            `
                            <hr />
                            <hr />
                            <p>Trenutni datum i vrijeme: ${response.current}</p>
                            <p>Razlika: ${response.day_diff}</p>
                            <hr />
                            <p>Vaše dijete ima ${response.year_diff};</p>
                            <p>odnosno ${response.week_diff};</p>
                            <hr />
                            <hr />
                            `
                        );
                    }
                });
            });
        });
    </script>
</body>
</html>